.bg-fb {
    background: #3578e5;
    padding: 10px 0;
    text-align: center;
}

.bg-fb img {
    height: 35px;
}

.content {
    display: flex;
    flex-grow: 1; 
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f0f2f5;
}
.content button {
    background: #3578e5;
    padding: 5px 10px;
    outline: none;
    border: none;
    color: white;
}